body {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 40px;
    font-weight: bold;

}

.name_am {
    text-align: center;
    line-height: 0.5;
}

.contact {
    padding-left: 10%;
}

.description {
    padding-right: 10%;
}

.contact_list {
    line-height: 0.8;
}

.photo_am {
    padding: 20px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.english {
    width: 500px;
    height: 350px;
    border: 1px solid black;
}

.web_dev {
    width: 500px;
    height: 350px;
    border: 1px solid black;
}

.pm {
    width: 500px;
    height: 350px;
    border: 1px solid black;
}

.evm {
    width: 500px;
    height: 350px;
    border: 1px solid black;
}

.autor {
    text-align: center;
}